.gcloudignore
.git
.gitignore
.firebase
node_modules
deploy.ps1
.env
*.json
*.mjs
!package.json
!firebase.json
!package-lock.json
!tsconfig.json
!metadata.json
!src/locales/*.json
!public/manifest.json
the-assembly.code-workspace
.antigravity/
.gemini/
.agent/
*.zip
dist/
android/.gradle/
android/app/build/
android/.idea/workspace.xml
android/
*.txt