node_modules/
build/
coverage/
.DS_Store
*.log
.env*
!.env.example
the-assembly.code-workspace
*.mjs
*.zip
dist/
android/.gradle/
android/app/build/
android/.idea/workspace.xml
*.txt
*.code-workspace
*.ps1